:root {
  --x-1nero: rgba(255, 255, 255, 1);
  --x-1mojo: rgba(188, 71, 47, 1);
  --x-1nile-blue-45: rgba(25, 52, 78, 0.45);
  --x-1concrete: rgba(242, 242, 242, 1);
  --x-1boston-blue: rgba(67, 135, 199, 1);
  --x-1black: rgba(0, 0, 0, 1);
  --x-1dusty-gray: rgba(153, 153, 153, 1);
  --x-1firefly: rgba(10, 24, 42, 1);
  --x-1biscay: rgba(24, 55, 94, 1);
  --x-1cornflower: rgba(145, 186, 225, 1);
  --x-1dove-gray: rgba(101, 101, 101, 1);
  --x-1golden-grass: rgba(228, 174, 42, 1);
  --x-1catskill-white: rgba(234, 240, 245, 1);
  --1-inter-italic-18-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-18-font-weight: 400;
  --1-inter-italic-18-font-size: 18px;
  --1-inter-italic-18-letter-spacing: 0px;
  --1-inter-italic-18-line-height: 36px;
  --1-inter-italic-18-font-style: italic;
  --1-inter-regular-16-59-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-16-59-font-weight: 400;
  --1-inter-regular-16-59-font-size: 16.59375px;
  --1-inter-regular-16-59-letter-spacing: 0px;
  --1-inter-regular-16-59-line-height: 36px;
  --1-inter-regular-16-59-font-style: normal;
  --1-inter-italic-16-59-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-16-59-font-weight: 400;
  --1-inter-italic-16-59-font-size: 16.59375px;
  --1-inter-italic-16-59-letter-spacing: 0px;
  --1-inter-italic-16-59-line-height: 36px;
  --1-inter-italic-16-59-font-style: italic;
  --1-inter-italic-47-22-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-47-22-font-weight: 400;
  --1-inter-italic-47-22-font-size: 47.22187423706055px;
  --1-inter-italic-47-22-letter-spacing: 2.9200000762939453px;
  --1-inter-italic-47-22-line-height: 70.08000183105469px;
  --1-inter-italic-47-22-font-style: italic;
  --1-inter-regular-15-75-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-15-75-font-weight: 400;
  --1-inter-regular-15-75-font-size: 15.75px;
  --1-inter-regular-15-75-letter-spacing: 0px;
  --1-inter-regular-15-75-line-height: 23.399999618530273px;
  --1-inter-regular-15-75-font-style: normal;
  --1-inter-regular-45-72-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-45-72-font-weight: 400;
  --1-inter-regular-45-72-font-size: 45.71875px;
  --1-inter-regular-45-72-letter-spacing: 0px;
  --1-inter-regular-45-72-line-height: 61.599998474121094px;
  --1-inter-regular-45-72-font-style: normal;
  --1-inter-regular-19-25-title-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-19-25-title-font-weight: 400;
  --1-inter-regular-19-25-title-font-size: 19.25px;
  --1-inter-regular-19-25-title-letter-spacing: 1px;
  --1-inter-regular-19-25-title-line-height: 22px;
  --1-inter-regular-19-25-title-font-style: normal;
  --1-inter-italic-57-54-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-57-54-font-weight: 400;
  --1-inter-italic-57-54-font-size: 57.5390625px;
  --1-inter-italic-57-54-letter-spacing: 3px;
  --1-inter-italic-57-54-line-height: 70px;
  --1-inter-italic-57-54-font-style: italic;
  --1-inter-italic-54-26-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-54-26-font-weight: 400;
  --1-inter-italic-54-26-font-size: 54.2578125px;
  --1-inter-italic-54-26-letter-spacing: 3px;
  --1-inter-italic-54-26-line-height: 70px;
  --1-inter-italic-54-26-font-style: italic;
  --1-inter-regular-72-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-72-font-weight: 400;
  --1-inter-regular-72-font-size: 72px;
  --1-inter-regular-72-letter-spacing: 0px;
  --1-inter-regular-72-line-height: 100px;
  --1-inter-regular-72-font-style: normal;
  --1-inter-regular-16-73-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-16-73-font-weight: 400;
  --1-inter-regular-16-73-font-size: 16.734375px;
  --1-inter-regular-16-73-letter-spacing: 0px;
  --1-inter-regular-16-73-line-height: 36px;
  --1-inter-regular-16-73-font-style: normal;
  --1-inter-italic-16-73-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-16-73-font-weight: 400;
  --1-inter-italic-16-73-font-size: 16.734375px;
  --1-inter-italic-16-73-letter-spacing: 0px;
  --1-inter-italic-16-73-line-height: 36px;
  --1-inter-italic-16-73-font-style: italic;
  --1-inter-regular-16-45-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-16-45-font-weight: 400;
  --1-inter-regular-16-45-font-size: 16.453125px;
  --1-inter-regular-16-45-letter-spacing: 0px;
  --1-inter-regular-16-45-line-height: 36px;
  --1-inter-regular-16-45-font-style: normal;
  --1-inter-italic-16-45-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-16-45-font-weight: 400;
  --1-inter-italic-16-45-font-size: 16.453125px;
  --1-inter-italic-16-45-letter-spacing: 0px;
  --1-inter-italic-16-45-line-height: 36px;
  --1-inter-italic-16-45-font-style: italic;
  --1-inter-regular-16-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-16-upper-font-weight: 400;
  --1-inter-regular-16-upper-font-size: 16px;
  --1-inter-regular-16-upper-letter-spacing: 0.800000011920929px;
  --1-inter-regular-16-upper-line-height: 16px;
  --1-inter-regular-16-upper-font-style: normal;
  --1-inter-regular-23-91-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-23-91-upper-font-weight: 400;
  --1-inter-regular-23-91-upper-font-size: 23.90625px;
  --1-inter-regular-23-91-upper-letter-spacing: 1.7999999523162842px;
  --1-inter-regular-23-91-upper-line-height: 46px;
  --1-inter-regular-23-91-upper-font-style: normal;
  --1-inter-italic-23-91-upper-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-23-91-upper-font-weight: 400;
  --1-inter-italic-23-91-upper-font-size: 23.90625px;
  --1-inter-italic-23-91-upper-letter-spacing: 1.7999999523162842px;
  --1-inter-italic-23-91-upper-line-height: 46px;
  --1-inter-italic-23-91-upper-font-style: italic;
  --1-inter-regular-24-19-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-24-19-upper-font-weight: 400;
  --1-inter-regular-24-19-upper-font-size: 24.1875px;
  --1-inter-regular-24-19-upper-letter-spacing: 0px;
  --1-inter-regular-24-19-upper-line-height: 46px;
  --1-inter-regular-24-19-upper-font-style: normal;
  --1-inter-regular-15-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-15-font-weight: 400;
  --1-inter-regular-15-font-size: 15px;
  --1-inter-regular-15-letter-spacing: 0px;
  --1-inter-regular-15-line-height: normal;
  --1-inter-regular-15-font-style: normal;
  --1-inter-regular-15-38-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-15-38-font-weight: 400;
  --1-inter-regular-15-38-font-size: 15.375px;
  --1-inter-regular-15-38-letter-spacing: 0px;
  --1-inter-regular-15-38-line-height: normal;
  --1-inter-regular-15-38-font-style: normal;
  --1-inter-italic-10-56-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-10-56-font-weight: 400;
  --1-inter-italic-10-56-font-size: 10.5625px;
  --1-inter-italic-10-56-letter-spacing: 0px;
  --1-inter-italic-10-56-line-height: 24px;
  --1-inter-italic-10-56-font-style: italic;
  --1-inter-regular-19-47-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-19-47-upper-font-weight: 400;
  --1-inter-regular-19-47-upper-font-size: 19.46875px;
  --1-inter-regular-19-47-upper-letter-spacing: 0px;
  --1-inter-regular-19-47-upper-line-height: 27.15999984741211px;
  --1-inter-regular-19-47-upper-font-style: normal;
  --1-inter-regular-14-78-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-14-78-font-weight: 400;
  --1-inter-regular-14-78-font-size: 14.78125px;
  --1-inter-regular-14-78-letter-spacing: 0px;
  --1-inter-regular-14-78-line-height: 24.860000610351562px;
  --1-inter-regular-14-78-font-style: normal;
  --1-inter-italic-14-78-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-14-78-font-weight: 400;
  --1-inter-italic-14-78-font-size: 14.78125px;
  --1-inter-italic-14-78-letter-spacing: 0px;
  --1-inter-italic-14-78-line-height: 24.860000610351562px;
  --1-inter-italic-14-78-font-style: italic;
  --1-inter-regular-15-67-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-15-67-font-weight: 400;
  --1-inter-regular-15-67-font-size: 15.671875px;
  --1-inter-regular-15-67-letter-spacing: 0px;
  --1-inter-regular-15-67-line-height: 28.899999618530273px;
  --1-inter-regular-15-67-font-style: normal;
  --1-inter-light-italic-17-upper-font-family: "Inter-LightItalic", Helvetica;
  --1-inter-light-italic-17-upper-font-weight: 300;
  --1-inter-light-italic-17-upper-font-size: 17px;
  --1-inter-light-italic-17-upper-letter-spacing: 0.8500000238418579px;
  --1-inter-light-italic-17-upper-line-height: 29.920000076293945px;
  --1-inter-light-italic-17-upper-font-style: italic;
  --1-inter-regular-15-75-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-15-75-upper-font-weight: 400;
  --1-inter-regular-15-75-upper-font-size: 15.75px;
  --1-inter-regular-15-75-upper-letter-spacing: 0.800000011920929px;
  --1-inter-regular-15-75-upper-line-height: 16px;
  --1-inter-regular-15-75-upper-font-style: normal;
  --1-inter-regular-34-77-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-34-77-upper-font-weight: 400;
  --1-inter-regular-34-77-upper-font-size: 34.765625px;
  --1-inter-regular-34-77-upper-letter-spacing: 2.5px;
  --1-inter-regular-34-77-upper-line-height: 55px;
  --1-inter-regular-34-77-upper-font-style: normal;
  --1-inter-regular-23-77-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-23-77-upper-font-weight: 400;
  --1-inter-regular-23-77-upper-font-size: 23.765625px;
  --1-inter-regular-23-77-upper-letter-spacing: 0px;
  --1-inter-regular-23-77-upper-line-height: 46px;
  --1-inter-regular-23-77-upper-font-style: normal;
  --1-inter-italic-49-69-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-49-69-font-weight: 400;
  --1-inter-italic-49-69-font-size: 49.6875px;
  --1-inter-italic-49-69-letter-spacing: 3px;
  --1-inter-italic-49-69-line-height: 70px;
  --1-inter-italic-49-69-font-style: italic;
  --1-inter-italic-50-98-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-50-98-font-weight: 400;
  --1-inter-italic-50-98-font-size: 50.9765625px;
  --1-inter-italic-50-98-letter-spacing: 3px;
  --1-inter-italic-50-98-line-height: 70px;
  --1-inter-italic-50-98-font-style: italic;
  --1-inter-regular-12-97-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-12-97-upper-font-weight: 400;
  --1-inter-regular-12-97-upper-font-size: 12.96875px;
  --1-inter-regular-12-97-upper-letter-spacing: 1px;
  --1-inter-regular-12-97-upper-line-height: 34px;
  --1-inter-regular-12-97-upper-font-style: normal;
  --1-inter-regular-13-02-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-13-02-font-weight: 400;
  --1-inter-regular-13-02-font-size: 13.015625px;
  --1-inter-regular-13-02-letter-spacing: 0px;
  --1-inter-regular-13-02-line-height: 26px;
  --1-inter-regular-13-02-font-style: normal;
  --1-inter-regular-12-8-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-12-8-font-weight: 400;
  --1-inter-regular-12-8-font-size: 12.796875px;
  --1-inter-regular-12-8-letter-spacing: 0px;
  --1-inter-regular-12-8-line-height: 26px;
  --1-inter-regular-12-8-font-style: normal;
  --1-inter-regular-13-44-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-13-44-upper-font-weight: 400;
  --1-inter-regular-13-44-upper-font-size: 13.4375px;
  --1-inter-regular-13-44-upper-letter-spacing: 1px;
  --1-inter-regular-13-44-upper-line-height: 34px;
  --1-inter-regular-13-44-upper-font-style: normal;
  --1-inter-regular-13-28-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-13-28-upper-font-weight: 400;
  --1-inter-regular-13-28-upper-font-size: 13.28125px;
  --1-inter-regular-13-28-upper-letter-spacing: 1px;
  --1-inter-regular-13-28-upper-line-height: 34px;
  --1-inter-regular-13-28-upper-font-style: normal;
  --1-inter-regular-14-38-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-14-38-upper-font-weight: 400;
  --1-inter-regular-14-38-upper-font-size: 14.375px;
  --1-inter-regular-14-38-upper-letter-spacing: 1px;
  --1-inter-regular-14-38-upper-line-height: 34px;
  --1-inter-regular-14-38-upper-font-style: normal;
  --1-inter-regular-13-75-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-13-75-upper-font-weight: 400;
  --1-inter-regular-13-75-upper-font-size: 13.75px;
  --1-inter-regular-13-75-upper-letter-spacing: 1px;
  --1-inter-regular-13-75-upper-line-height: 34px;
  --1-inter-regular-13-75-upper-font-style: normal;
  --1-inter-regular-13-59-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-13-59-upper-font-weight: 400;
  --1-inter-regular-13-59-upper-font-size: 13.59375px;
  --1-inter-regular-13-59-upper-letter-spacing: 1px;
  --1-inter-regular-13-59-upper-line-height: 34px;
  --1-inter-regular-13-59-upper-font-style: normal;
  --1-inter-regular-13-91-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-13-91-upper-font-weight: 400;
  --1-inter-regular-13-91-upper-font-size: 13.90625px;
  --1-inter-regular-13-91-upper-letter-spacing: 1px;
  --1-inter-regular-13-91-upper-line-height: 34px;
  --1-inter-regular-13-91-upper-font-style: normal;
  --1-inter-regular-13-13-upper-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-13-13-upper-font-weight: 400;
  --1-inter-regular-13-13-upper-font-size: 13.125px;
  --1-inter-regular-13-13-upper-letter-spacing: 1px;
  --1-inter-regular-13-13-upper-line-height: 34px;
  --1-inter-regular-13-13-upper-font-style: normal;
  --1-inter-italic-13-44-upper-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-13-44-upper-font-weight: 400;
  --1-inter-italic-13-44-upper-font-size: 13.4375px;
  --1-inter-italic-13-44-upper-letter-spacing: 1px;
  --1-inter-italic-13-44-upper-line-height: 34px;
  --1-inter-italic-13-44-upper-font-style: italic;
  --1-inter-italic-13-02-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-13-02-font-weight: 400;
  --1-inter-italic-13-02-font-size: 13.015625px;
  --1-inter-italic-13-02-letter-spacing: 0px;
  --1-inter-italic-13-02-line-height: 26px;
  --1-inter-italic-13-02-font-style: italic;
  --1-inter-italic-13-13-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-13-13-font-weight: 400;
  --1-inter-italic-13-13-font-size: 13.125px;
  --1-inter-italic-13-13-letter-spacing: 0px;
  --1-inter-italic-13-13-line-height: 26px;
  --1-inter-italic-13-13-font-style: italic;
  --1-inter-italic-12-58-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-12-58-font-weight: 400;
  --1-inter-italic-12-58-font-size: 12.578125px;
  --1-inter-italic-12-58-letter-spacing: 0px;
  --1-inter-italic-12-58-line-height: 26px;
  --1-inter-italic-12-58-font-style: italic;
  --1-inter-italic-14-font-family: "Inter-Italic", Helvetica;
  --1-inter-italic-14-font-weight: 400;
  --1-inter-italic-14-font-size: 14px;
  --1-inter-italic-14-letter-spacing: 0px;
  --1-inter-italic-14-line-height: 26px;
  --1-inter-italic-14-font-style: italic;
  --1-inter-regular-11-98-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-11-98-font-weight: 400;
  --1-inter-regular-11-98-font-size: 11.984375px;
  --1-inter-regular-11-98-letter-spacing: 0px;
  --1-inter-regular-11-98-line-height: 20px;
  --1-inter-regular-11-98-font-style: normal;
  --1-inter-regular-13-font-family: "Inter-Regular", Helvetica;
  --1-inter-regular-13-font-weight: 400;
  --1-inter-regular-13-font-size: 13px;
  --1-inter-regular-13-letter-spacing: 0px;
  --1-inter-regular-13-line-height: 20px;
  --1-inter-regular-13-font-style: normal;
  --1-font-awesome-5-free-solid-18-font-family: "FontAwesome 5 Free-Solid", Helvetica;
  --1-font-awesome-5-free-solid-18-font-weight: 400;
  --1-font-awesome-5-free-solid-18-font-size: 18px;
  --1-font-awesome-5-free-solid-18-letter-spacing: 0px;
  --1-font-awesome-5-free-solid-18-line-height: 18px;
  --1-font-awesome-5-free-solid-18-font-style: normal;
  --1-montserrat-bold-20-font-family: "Montserrat-Bold", Helvetica;
  --1-montserrat-bold-20-font-weight: 700;
  --1-montserrat-bold-20-font-size: 20px;
  --1-montserrat-bold-20-letter-spacing: 0px;
  --1-montserrat-bold-20-line-height: 20px;
  --1-montserrat-bold-20-font-style: normal;
  --1-font-awesome-5-brands-regular-12-font-family: "FontAwesome 5 Brands-Regular", Helvetica;
  --1-font-awesome-5-brands-regular-12-font-weight: 400;
  --1-font-awesome-5-brands-regular-12-font-size: 12px;
  --1-font-awesome-5-brands-regular-12-letter-spacing: 0px;
  --1-font-awesome-5-brands-regular-12-line-height: 25px;
  --1-font-awesome-5-brands-regular-12-font-style: normal;
}
